#container{
    height: 400px;
    width: 400px;
    background-color: azure;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#container div{
    height:100px;
    width: 100px;
    background-color: grey;
    font-size: 50px; 
    text-align: center;
    border: 2px solid black;   
    border-radius: 20px;

}